body {
  background:#111;
  color:#fff;
  font-family:Arial;
}
.card {
  background:#222;
  padding:10px;
  margin:10px;
  display:inline-block;
  width:200px;
}
.card img {
  width:100%;
}
a {
  color:#0f0;
}
